
<!-- 上部スライダー -->
  <div class="bxslider-top">
    <p><%= link_to products_path({"utf8"=>"✓", "q"=>{"artist_cont"=>"crazyboy", "commit"=>"Search" }}) do %>
       <%= image_tag ('img/hed1.jpg') %>
       <% end %></p>
    <p><%= link_to products_path({"utf8"=>"✓", "q"=>{"artist_cont"=>"乃木坂", "commit"=>"Search" }}) do %>
       <%= image_tag ('img/hed2.jpg') %>
       <% end %></p>
    <p><%= link_to products_path({"utf8"=>"✓", "q"=>{"artist_cont"=>"twice", "commit"=>"Search" }}) do %>
       <%= image_tag ('img/hed3.jpg') %>
       <% end %></p>
    <p><%= link_to products_path({"utf8"=>"✓", "q"=>{"artist_cont"=>"和楽器", "commit"=>"Search" }}) do %>
       <%= image_tag ('img/hed4.jpg') %>
       <% end %></p>
    <p><%= link_to products_path({"utf8"=>"✓", "q"=>{"artist_cont"=>"aqua timez", "commit"=>"Search" }}) do %>
       <%= image_tag ('img/hed5.jpg') %>
       <% end %></p>
    <p><%= link_to products_path({"utf8"=>"✓", "q"=>{"artist_cont"=>"e-girls", "commit"=>"Search" }}) do %>
       <%= image_tag ('img/hed6.jpg') %>
       <% end %></p>
  </div>




  <div class="container">
    <div class="row content">
    <%= render partial: "top/sidebar" %>
      <div class="col-xs-10 text-left">

<!-- 新着商品表示　-->
        <div class="main-top">
          <h1 class="main-line">－New Release－</h1>
          <hr>
          <% @nouveaus.each do |n| %>
          <div class="mainseet">
            <a href="/products/<%= n.id %>", style="text-decoration: none; color: #6c6b6b;">
              <%= attachment_image_tag n, :picture, fallback: "img/no_image.jpg" %>
              <h4><%= n.cd_title %></h4>
              <h5><%= n.artist %></h5>
            </a>
          </div>
          <% end %>
        </div>


<!-- オススメランダム表示　-->
        <div class="main-bottom">
          <h1 class="main-line">－Recommended－</h1>
          <hr>
          <% @recommends.each do |r| %>
          <div class="mainseet">
            <a href="/products/<%= r.id %>", style="text-decoration: none; color: #6c6b6b;">
              <%= attachment_image_tag r, :picture, fallback: "img/no_image.jpg" %>
            <h4><%= r.cd_title %></h4>
            <h5><%= r.artist %></h5>
            </a>
          </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>

<!-- 下部スライダー -->
<%= render 'top/browsing', commites: @commites, product: @product %>


