<div class="container">
  <!-- 上部スライダー -->
      <ul class="bxslider-top">

        <li><%= image_tag ('img/test7.jpg') %></li>
        <li><%= image_tag ("img/tes5.jpg") %></li>
        <li><%= image_tag ('img/tes4.jpg') %></li>
        <li><%= image_tag ('img/tes1.jpg') %></li>
        <li><%= image_tag ('img/tes2.jpg') %></li>
        <li><%= image_tag ('img/tes3.jpg')%></li>

      </ul>

<div class="container">
  <div class="row content">
  <%= render partial: "top/sidebar" %>
    <div class="main col-xs-10 text-left">
      <h1 class="main-line">New Release</h1>
      <div class="mainseet">
        <div class="img"><%= image_tag 'img/fon1.jpg'%>Black Pink</div>
      </div>
      <div class="mainseet">
        <div class="img"><%= image_tag 'img/fon3.jpg'%>Black Pink</div>
      </div>
      <div class="mainseet">
        <div class="img"><%= image_tag 'img/fon4.jpg'%>Black Pink</div>
      </div>
      <div class="mainseet">
        <div class="img"><%= image_tag 'img/fon6.jpg'%>Black Pink</div>
      </div>
      <div class="mainseet">
        <div class="img"><%= image_tag 'img/fon7.jpg'%>Black Pink</div>
      </div>
      <div class="mainseet">
        <div class="img"><%= image_tag 'img/fon8.jpg'%>Black Pink</div>
      </div>
      <div class="mainseet">
        <div class="img"><%= image_tag 'img/fon10.jpg'%>Black Pink</div>
      </div>
      <div class="mainseet">
        <div class="img"><%= image_tag 'img/fon5.jpg'%>Black Pink</div>
      </div>


<!-- オススメランダム表示　-->
      <h1 class="main-line">Recommended</h1>
      <% @recommends.each do |r| %>
        <div class="mainseet">
          <div class="img"><%= attachment_image_tag @product, :picture, fallback: "img/no_image.jpg" %>
          <h4><%= r.cd_title %></h4>
          <h5><b><%= r.artist %></b></h5>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
</div>
<!-- 下部スライダー -->
<%= render 'top/browsing', commites: @commites, product: @product %>
