<div class="hed"></div>
<div class="news">
  <div class="theTarget">
    <div style="background-image: url(img/tes1.jpg)"><%= image_tag 'img/tes1.jpg'%></div>
    <div style="background-image: url(img/tes2.jpg)"><%= image_tag 'img/tes2.jpg'%></div>
    <div style="background-image: url(img/tes3.jpg)"><%= image_tag 'img/tes3.jpg'%></div>
    <div style="background-image: url(img/tes4.jpg)"><%= image_tag 'img/tes4.jpg'%></div>
    <div style="background-image: url(img/test7.jpg)"><%= image_tag 'img/test7.jpg'%></div>
    <div style="background-image: url(img/tes7.jpg)"><%= image_tag 'img/tes7.jpg'%></div>
  </div>
</div>

  <script src="skippr.min.js"></script>
  <script src="script.js"></script>

<div class="container-fluid text-left">
  <div class="row content">
  	<div class="sidebar col-xs-2 text-left">
  	  <p><a href="#">▶︎ J-POP</a></p>
      <p><a href="#">▶︎ ロック＆ポップス</a></p>
      <p><a href="#">▶︎ R＆B/ソウル</a></p>
      <p><a href="#">▶︎ ヒップホップ</a></p>
      <p><a href="#">▶︎ クラブ/ダンス</a></p>
      <p><a href="#">▶︎ ワールド</a></p>
      <p><a href="#">▶︎ 洋楽</a></p>
      <p><a href="#">▶︎ アニメ</a></p>
    </div>
  	<div class="main col-xs-10 text-left">
    <div>新着情報</div>
    

  	</div>
  </div>
</div>