
<div class="news">
  <div class="theTarget">
    <div style="background-image: url(img/test7.jpg)"><%= image_tag 'img/test7.jpg'%></div>
    <div style="background-image: url(img/tes2.jpg)"><%= image_tag 'img/tes2.jpg'%></div>
    <div style="background-image: url(img/tes3.jpg)"><%= image_tag 'img/tes3.jpg'%></div>
    <div style="background-image: url(img/tes4.jpg)"><%= image_tag 'img/tes4.jpg'%></div>
    <div style="background-image: url(img/tes1.jpg)"><%= image_tag 'img/tes1.jpg'%></div>
    <div style="background-image: url(img/tes5.jpg)"><%= image_tag 'img/tes5.jpg'%></div>
  </div>
</div>

  <script src="skippr.min.js"></script>
  <script src="script.js"></script>

<div class="container-fluid">
  <div class="row content">
  <%= render partial: "top/sidebar" %>
  	<div class="main col-xs-10 text-left">
    <div class="main-line">新着情報</div>
      <div class="mainseet">
        <div class="img"><%= image_tag 'img/fon1.jpg'%>Black Pink</div>
      </div>
      <div class="mainseet">
        <div class="img"><%= image_tag 'img/fon3.jpg'%>Black Pink</div>
      </div>
      <div class="mainseet">
        <div class="img"><%= image_tag 'img/fon4.jpg'%>Black Pink</div>
      </div>
      <div class="mainseet">
        <div class="img"><%= image_tag 'img/fon6.jpg'%>Black Pink</div>
      </div>
      <div class="mainseet">
        <div class="img"><%= image_tag 'img/fon7.jpg'%>Black Pink</div>
      </div>
      <div class="mainseet">
        <div class="img"><%= image_tag 'img/fon8.jpg'%>Black Pink</div>
      </div>
      <div class="mainseet">
        <div class="img"><%= image_tag 'img/fon10.jpg'%>Black Pink</div>
      </div>
      <div class="mainseet">
        <div class="img"><%= image_tag 'img/fon5.jpg'%>Black Pink</div>
      </div>
  	</div>
  </div>
</div>



