<div class="container">
  <div class="row content">
    <%= render partial: "top/sidebar" %>
	<div class="col-xs-10">

    <!-- 上部リンク -->
      <div clas="link-top", style="margin: 20px; text-decoration: underline;">
        <span class="">
          <%= link_to "前のページに戻る", :back %>
        </span>
        <span class="", style="float: right; text-decoration: underline;">
          <%= link_to "TOP画面に戻る", root_path %>
        </span>
      </div>


	  <h1 class="midashi" >ご注文内容の確認</h1>
	  <hr>

	  <div class="">

		<table class="table table-hover table-bordered">
	      <thead>
			<tr class="info">
			  <td></td>
		      <td>商品</td>
			  <td>数量</td>
			  <td>小計</td>
			</tr>
		  </thead>
		  <tbody>
		    <% total_price = 0 %><!--商品の価格を合計するため-->
			<% total_quantity = 0 %><!--個数を合計するため-->
		    <% @receipts.each do |receipt| %>
			<% product = Product.find(receipt.product_id) %><!--productをidから探し出す-->
			<tr class="active">
			  <td><%= attachment_image_tag product, :picture, width: "100", height: "100", format: "jpeg", fallback: "img/no_image.jpg" , style:"width:100px; height:100px;" %>
			  </td>
			　<td>
				タイトル：<%= product.cd_title %><br>
				アーティスト：<%= product.artist %><br>
				価格：￥<%= receipt.sale_price %>
			  </td>
			  <td>
			    <%= receipt.sale %> 点<br>
			  </td>
			    <% subtotal = receipt.sale.to_i * receipt.sale_price.to_i %>
			  <td>
			  	<h4>￥<%= number_with_delimiter(subtotal) %></h4>
			  </td>
				<% total_price += subtotal %><!--合計金額の計算-->
				<% total_quantity += receipt.sale.to_i %><!--合計点数の計算-->
			</tr>
			<% end %>
			<tr class="active">
			  <td colspan="4">
				<p class="pull-right" style="margin-bottom:0;">購入数：合計 <%= total_quantity %>点</p><br>
				<p class="pull-right" style="margin-bottom:0;">送料：￥０</p><br>
				<h3 class="pull-right">総計： ￥<%= number_with_delimiter(total_price) %>（税込み）</h3>
			  </td>
			</tr>
		  </tbody>
		</table>
	  </div>

	  <div class="">

		<div class="panel panel-default col-xs-offset-1">
		  <div class="panel-heading">
			<h2>ご注文情報</h2>
		  </div>
		  <div class="panel-body">
			<div class="col-xs-7">
		      <h4>お届け先住所</h4>
			  <p><%= @purchaser.d_name %> 様</p>
			  <p>〒 <%= @purchaser.p_code %></p>
			  <p><%= @purchaser.d_region %><%= @purchaser.d_street %></p>
			</div>

			<div class="col-xs-5">
			  <h4>お支払い方法</h4>
			  <p><%= @purchaser.pay %></p>
			  <h4>配送状況</h4>
			  <p><%= @purchaser.status %></p>
			</div>
		  </div>
		</div>

	  </div>
 	</div>
  </div>
</div>


<!-- 下部スライダー -->
<%= render 'top/browsing', commites: @commites, product: @product %>

