<%= render 'top/sidebar' %>

<div class="container">
	<div class="row">
		<h1>管理者メニュー</h1>
				<div class="col-md-6">
				<h2>１．商品管理</h2>
					<%= link_to '新規商品登録', new_admins_product_path, class: "btn btn-md btn-default" %>
				</div>
				<div class="col-md-6">
	 				<%= link_to '商品の編集', edit_admins_product_path, class: "btn btn-md btn-default" %>
	 			</div>

				<div class="col-md-6">
				<h2>２．受注管理</h2>

	 				<%= link_to '注文一覧・配送状況', admins_products_path, class: "btn btn-md btn-default" %>
	 			</div>

				<div class="col-md-6">
				<h2>３．会員情報管理</h2>

					<%= link_to '会員情報の編集', admins_users_path, class: "btn btn-md btn-default" %>
				</div>

				<div class="col-md-6">
				<h2>４．その他</h2>
					<%= link_to '会員Topページへ', root_path, class: "btn btn-md btn-default" %>
				</div>
				<div class="col-md-6">
					<%= link_to 'お問い合わせ管理', class: "btn btn-md btn-default" %>
				</div>
	</div>
</div>

