<div class="container">
  <div class="row">
  <%= render partial: "top/sidebar" %>
    <div class="main col-xs-10 text-left">


<!-- 上部リンク -->
      <div clas="link-top", style="margin: 20px; text-decoration: underline;">
        <span class="nav-list-item">
          <%= link_to "前のページに戻る", :back %>
        </span>
        <span class="nav-list-item", style="float: right; text-decoration: underline;">
          <%= link_to "管理TOP画面に戻る", root_path %>
        </span>
      </div>


      <div class="", style="width:80%; margin: 0 0 0 30px;">
        <h1 class="midashi">会員情報の編集</h1>
        <hr>
        <table class="table", style="font-size: 24px;">
          <tbody>
            <tr>
              <th>氏名</th>
              <td><%= @user.name_sei %><%= @user.name_mei %></td>
            </tr>
            <tr>
              <th>フリガナ</th>
              <td><%= @user.name_kana_sei %><%= @user.name_kana_mei %></td>
            </tr>
            <tr>
              <th>生年月日</th>
              <td><%= @user.birthday.strftime('%Y年%m月%d日') %></td>
            </tr>
            <tr>
              <th>性別</th>
              <td><%= @user.sex %></td>
            </tr>
            <tr>
              <th>郵便番号</th>
              <td>〒<%= @user.postal_code %></td>
            </tr>
            <tr>
              <th>都道府県</th>
              <td><%= @user.region %></td>
            </tr>
            <tr>
              <th>市区町村以下</th>
              <td><%= @user.street %></td>
            </tr>
            <tr>
              <th>電話番号</th>
            <td><%= @user.phone %></td>
            </tr>
            <tr>
              <th>メールアドレス</th>
              <td><%= @user.email %></td>
            </tr>
          </tbody>
        </table>
        <%= link_to edit_user_path(current_user.id) do %>
        <button type="button" class="btn btn-info btn-block", style="width: 600px; margin: 0 100px 50px 140px;">編集ページへ
        </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
