<div class="container">
  <div class="row">
  <%= render partial: "top/sidebar" %>
  <div class="main col-xs-10 text-left">
    <div class="midashi">アカウント停止について</div>
    <hr>
      <div style="font-size: 20px;" >注意事項</div>

・退会後、同じIDでの再登録はできません<br>

・ご購入商品の情報が確認できなくなります


      <%= form_for(@user) do |f| %>

      <button type="button" class="btn btn-info" >
		     <%= link_to "キャンセル", user_path(current_user) %>
      </button>
    <%= f.text_field :customer_flg, :size=>"60", placeholder:"例）abc@volcano.ne.jp"  %>
		<%= f.submit "退会手続きを進める", class:"btn btn-md btn-block btn-danger" %>
      </div>
  <% end %>
  </div>
</div>
