<div class="container">
  <div class="row">
  <%= render partial: "top/sidebar" %>
    <div class="main col-xs-10 text-left">


      <!-- 上部リンク -->
      <div clas="link-top", style="margin: 20px; text-decoration: underline;">
        <span class="nav-list-item">
          <%= link_to "前のページに戻る", :back %>
        </span>
        <span class="nav-list-item", style="float: right; text-decoration: underline;">
          <%= link_to "TOP画面に戻る", root_path %>
        </span>
      </div>


      <h1 class="midashi">アカウント停止について</h1>
      <hr>

      <div class="", style="width:80%; margin: 0 0 0 30px;">
        <table class="table">
          <thead>
            <tr>
              <th style="font-size: 30px; text-align: center;">注意事項</th>
            </tr>
          </thead>
          <tbody style="font-size: 15px;">
            <td>
              <p>・退会後、同じID(メールアドレス）での再登録はできません</p>
              <p>・再登録の際は、別のメールアドレスでの登録になります</p>
              <p>・ご購入商品の情報が確認できなくなります</p>

            </td>
          </tbody>
        </table>





        <%= form_for(@user) do |f| %>
          <%= link_to user_path(current_user) do %>
          <div class="", style="margin: 0 0 0 100px;">
          <button type="button" class="btn btn-danger", style="display: inline-block; width: 300px; margin: 10px; color:">
                キャンセル
              </button>
            <% end %>
            <input type="hidden" name="user[customer_flg]" value="false">
              <button type="submit" class="btn btn-danger", style="display: inline-block; width: 300px; margin: 10px;">
                退会手続きを進める
            </button>
          </div>
        <% end %>
    </div>
  </div>
  </div>
</div>