<div class="container">
  <div class="row">
  <%= render partial: "top/sidebar" %>
    <div class="main col-xs-10 text-left">


<!-- 上部リンク -->
      <div clas="link-top", style="margin: 20px; text-decoration: underline;">
        <span class="nav-list-item">
          <%= link_to "前のページに戻る", :back %>
        </span>
        <span class="nav-list-item", style="float: right; text-decoration: underline;">
          <%= link_to "管理TOP画面に戻る", admins_top_path(current_admin) %>
        </span>
      </div>

      <div class="", style="width: 90%;">
	  <h1 class="midashi">会員一覧</h1>
	  <hr>


	  	<!--並び替え機能-->
	  <div class="pull-right sort", style="margin: 0 0 0 60px; background-color: rgba( 0, 0, 0, 0.1);">
		Search Sort <span class="glyphicon glyphicon-search"></span>:
        <button type="button" class="btn btn-link">
          <%= sort_link(@search_user, :name_sei, "名前で並び替え") %>
        </button>
        <button type="button" class="btn btn-link">
          <%= sort_link(@search_user, :region, "住所で並び替え") %>
        </button>
      </div>


      <table class = "table table table-hover table-bordered", style="width: 95%;">
	  	<thead>
	  		<tr class="info">
	  			<td width="600">会員情報</td>
	  			<td>詳細リンク</td>
	  		</tr>
	  	</thead>
	    <tbody>
		  <% @users.each do |user| %>
		    <tr class="active">
		      <td height="70">
		        <label>名前 : </label>
		        <%= user.name_sei %><%= user.name_mei %><br>
                <label>住所 : </label>
                <%= user.region %><%= user.street %><br>
                <label>TEL : </label>
                <%= user.phone %><br>
              </td>

			  <td>
				<%= link_to '会員情報詳細', admins_user_path(user.id) %>

			  </td>
		    </tr>
		  <% end %>
		</tbody>
	  </table>
	</div>
  </div>
</div>
</div>



<style type="text/css">
		<!--
		button a{color: black; font-size: 15px;}
		.sort{display: inline-block; margin:20px 10px 0 0;}
		-->
</style>