
      <!-- 上部リンク -->
      <div clas="link-top", style="margin: 20px; text-decoration: underline;">
        <span class="nav-list-item">
          <%= link_to "前のページに戻る", :back %>
        </span>
        <span class="nav-list-item", style="float: right; text-decoration: underline;">
          <%= link_to "TOP画面に戻る", root_path %>
        </span>
      </div>


      <div class="container">
  <div class="main row inputmenu" style="width: 80%; margin-bottom: 50px;">
    <h1 class="midashi">お問合せフォーム</h1>

    <div style="font-size: 20px; text-align: left; margin: 50px;">・下記の項目にご入力のうえ、「送信」ボタンを押してください。<br>
    ・お問い合わせの内容によっては回答までにお時間を頂く場合がございます。<br>
    ・回答は「マイページ」内「お問い合わせ」ボタンより確認ができます。<br>
    </div>

    <hr>
      <%= form_for(@contact) do |f| %>
      <table class="table">
      <tbody>
        <tr>
          <th>お問合せ項目</th>
          <td><%= f.select :title, [["商品について", "商品について"], ["発送について", "発送について"], ["会員登録について", "会員登録について"], ["その他", "その他"]] %></td>
        </tr>
        <tr>
          <th>お問合せ内容</th>
          <td><%= f.text_area :body, :size => "50x10" %></td>
        </tr>
      </tbody>
      </table>
    <div class="actions button1">
    <%= f.submit "送信", class:"btn btn-md btn-block btn-danger" %>
    </div>
    <% end %>
  </div>
</div>


