<div class="container">
  <div class="row">
  <%= render partial: "top/sidebar" %>
    <div class="main col-xs-10 text-left">


<!-- 上部リンク -->
      <div clas="link-top", style="margin: 20px; text-decoration: underline;">
        <span class="nav-list-item">
          <%= link_to "前のページに戻る", :back %>
        </span>
        <span class="nav-list-item", style="float: right; text-decoration: underline;">
          <%= link_to "TOP画面に戻る", root_path %>
        </span>
      </div>


      <div class="", style="width:80%; margin: 0 0 0 30px;">
        <h1 class="midashi">お問い合わせ詳細</h1>
        <hr>
      <table class="table", style="font-size: 24px;">
          <tbody>
        <tr>
          <th>お問い合わせ項目</th>
          <td><%= @contact.title %></td>
        </tr>
        <tr>
          <th>お問い合わせ内容</th>
          <td><%= @contact.body %></td>
        </tr>
        <tr>
          <th>お問い合わせに対する回答</th>
              <% if @contact.reply? %>
          <td><%= @contact.reply %></td>
              <% else %>
          <td>回答まで今しばらくお待ちください。</td>
              <% end %>
        </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>


<style type="text/css">
    <!--
    button a{color: black; font-size: 15px;}
    .sort{display: inline-block; margin:20px 0 10px 0;}
    -->
</style>