<div class="container">
	<div class="row">
    	<%= render partial: "top/sidebar" %>
		<div class="col-xs-10">



        <!-- 上部リンク -->
            <div clas="link-top", style="margin: 20px; text-decoration: underline;">
                <span class="nav-list-item">
                    <%= link_to "前のページに戻る", :back %>
                </span>
                <span class="nav-list-item", style="float: right; text-decoration: underline;">
                    <%= link_to "TOP画面に戻る", root_path %>
                </span>
            </div>


			<h1 class="midashi">ご注文内容の確認</h1>
			<hr>

			<form action="confirm" method="post">


			<div class="">

				<table class="table table-hover table-bordered">
					<thead>
						<tr class="info">
							<td></td>
							<td>商品</td>
							<td>数量</td>
							<td>小計</td>
						</tr>
					</thead>
					<tbody>
						<% total_price = 0 %><!--商品の価格を合計するため-->
						<% total_quantity = 0 %><!--個数を合計するため-->
						<% @cart_items.zip(@quantity).each do |item, quantity| %>
						<% product = Product.find(item.product_id) %><!--productをidから探し出す-->
						<tr class="active">
							<td><%= attachment_image_tag product, :picture, width: "100", height: "100", format: "jpeg", fallback: "img/no_image.jpg" , style:"width:100px; height:100px;" %></td>
							<td>
								タイトル：<%= product.cd_title %><br>
								アーティスト：<%= product.artist %><br>
								価格：￥<%= number_with_delimiter(product.price) %>
							</td>
							<td>
								<%= quantity %> 点<br>
							</td>
							<% subtotal = quantity.to_i * product.price %>
							<td><h4>￥<%= number_with_delimiter(subtotal) %></h4></td>
							<% total_price += subtotal %><!--合計金額の計算-->
							<% total_quantity += quantity.to_i %><!--合計点数の計算-->
						</tr>
						<!--purchaseアクションに送信する-->
						<%= number_field_tag "quantity[]", quantity, style:"display:none;" %>
						<%= number_field_tag "price[]", product.price, style:"display:none;" %>
						<%= number_field_tag "product[]", product.id, style:"display:none;" %>

						<% end %>
						<tr class="active">
							<td colspan="4">
								<p class="pull-right" style="margin-bottom:0;">購入数：合計 <%= total_quantity %>点</p><br>
								<% if total_price >= 5000 %>
								<% postage = 0 %>
								<% elsif total_price < 5000 %>
								<% postage = 350 %>
								<% end %>
								<p class="pull-right" style="margin-bottom:0;">送料：￥<%= postage %></p><br>
								<p class="pull-right" style="margin-bottom:0;">(￥5,000以上で送料無料)</p><br>
								<% confirm_price = total_price + postage %>
								<h3 class="pull-right">総計： ￥<%= number_with_delimiter(confirm_price) %>（税込み）</h3>
							</td>
						</tr>
					</tbody>
				</table>

			</div>

		    <div class="", style="margin-bottom: 100px;">

			<div class="panel panel-default col-xs-offset-1">
				<div class="panel-heading">
					<h2>ご注文情報</h2>
				</div>
				<div class="panel-body">
					<div class="col-xs-7">
						<h4>お届け先住所</h4>
						<p><%= @name %> 様</p>
						<p>〒 <%= @postal_code %></p>
						<p><%= @region %><%= @street %></p>
					</div>
					<!--purchaseアクションに送信する-->
					<%= text_field_tag "name", @name, style:"display:none;" %>
					<%= text_field_tag "postal_code", @postal_code, style:"display:none;" %>
					<%= text_field_tag "region", @region, style:"display:none;" %>
					<%= text_field_tag "street", @street, style:"display:none;" %>

					<div class="col-xs-5">
						<h4>お支払い方法</h4>
						<p><%= @pay %></p>
					</div>
					<!--purchaseアクションに送信する-->
					<%= text_field_tag "pay", @pay, style:"display:none;" %>
				</div>
			</div>
            <div class="">
				<div class="form-group", style="margin: 0 200px 100px 200px;">
			        <input type="submit" value="注文を確定する" class="btn btn-primary btn-primary btn-md btn-block">
		         </div>
	        </div>

			</form>


            </div>
 		</div>
	</div>
</div>


<!-- 下部スライダー -->
<%= render 'top/browsing', commites: @commites, product: @product %>

