<div class="container">

	<div class="row">
    <%= render partial: "top/sidebar" %>
		<div class="col-xs-10">



        <!-- 上部リンク -->
        <div clas="link-top", style="margin: 20px; text-decoration: underline;">
            <span class="nav-list-item">
               <%= link_to "前のページに戻る", :back %>
            </span>
            <span class="nav-list-item", style="float: right; text-decoration: underline;">
              <%= link_to "TOP画面に戻る", root_path %>
            </span>
        </div>



			<h1 class="midashi">発送先・お支払い方法の選択</h1>
			<hr>
<div class="", style="margin: 0 100px 100px 100px;">
<form action="confirm">
			<!--送付先の選択-->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">発送先の選択</h2>
				</div>
				<div class="panel-body">
					<input type="radio" name="destination" value="exist" checked="checked" id="defaultl" onclick="defaultDestination()">現住所に送る
						<p>〒 <%= current_user.postal_code %></p>
						<p><%= current_user.region %><%= current_user.street %></p>
					<input type="radio" name="destination" value="new" id="newl" onclick="newDestination()">上記以外に送る

					<div id="forml" style="display: none;">
						<p>宛名<input type="textfield" name="name" id="namel"></p>
						<p>〒　<input type="number" name="postal_code" placeholder="例）1235678" onKeyUp="AjaxZip3.zip2addr(this,'','region','street');" id="postall">（半角数字　ハイフン入力不要）</p>
						<p>住所<input type="textfield" name="region" placeholder="例）東京都" id="regionl">
						<input type="textfield" name="street" size='50' id="streetl"></p>
					</div>

				</div>
			</div>


			<!--支払い方法の選択-->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">お支払い方法の選択</h2>
				</div>
				<div class="panel-body">
					<input type="radio" name="pay" value="cash" checked="checked">
						<p>代金引換</p>
					<input type="radio" name="pay" value="credit">
					<p>クレジットカード</p>
				</div>
			</div>

			<!--一番目の""にname。二番目の引数に個数の変数を持たせることでvalueに個数が入る。個数のデータがselectページを経由できる-->
			<% @quantity.each do |quantity| %>
				<%= number_field_tag "quantity[]", quantity, style:"display:none;" %><!--表示させない-->
			<% end %>

			<input type="submit" value="注文確認へ進む" class="btn btn-primary btn-md btn-block">




</form>
</div>
  		</div>
	</div>
</div>

<form id="new-region-form">
</form>
<!-- 下部スライダー -->
<%= render 'top/browsing', commites: @commites, product: @product %>


