<div class="container">
	<div class="row">
		<%= render partial: "top/sidebar" %>
		<div class="col-xs-10">
			<h1>カート詳細</h1>
			<hr>

			<!--submitボタンでselectに行くように指定-->
			<form action= "<%= @cart.id %>/select" >

			<div class="col-xs-8">
				<table class="table  table-hover table-bordered">
					<thead>
						<tr class="info">
							<td></td>
							<td>商品</td>
							<td>数量</td>
							<td>小計</td>
						</tr>
					</thead>
					<tbody>
						<% num = 1 %><!--javascriiptで使うid名の番号-->
						<% total_price = 0 %><!--商品の価格を合計するため-->
						<% @cart_items.each do |item| %>
						<% product = Product.find(item.product_id) %><!--productをidから探し出す-->
						<tr class="active">
							<td><%= attachment_image_tag product, :picture, width: "100", height: "100", format: "jpeg", fallback: "img/no_image.jpg" , style:"width:100px; height:100px;" %></td>
							<% pricenum = "price" + num.to_s %>
							<td>
								タイトル：<%= product.cd_title %><br>
								アーティスト：<%= product.artist %><br>
								価格：￥<span id=<%= pricenum %>><%= number_with_delimiter(product.price) %></span>
							</td>
							<% quantitynum = "quantity" + num.to_s %>
							<td>
								<!--selectに個数を送る-->
								<input type="number" min=1 value=1 style="width: 50px;" name="quantity[]" id=<%= quantitynum %> ><br>
								<button class="btn btn-danger" id="cart-item-destroy"><%= link_to "カートから削除", cart_cart_items_path(id: item.id, product_id: item.product_id, cart_id: @cart.id), method: :delete %></button>
							</td>
							<% sumnum = "sum" + num.to_s %>
							<td>
								<h4>￥<span id=<%= sumnum %>></span></h4>
							</td>
							<% total_price += product.price %>
						</tr>
						<% num += 1 %>

						<% end %>
					</tbody>
				</table>
			</div>
			<div class="col-xs-3 col-xs-offset-1 panel panel-info text-center">
				<h2 class="">合計 ￥<span id="allsum"></span></h2>
				<input type="button" class="btn btn-primary" value="合計" onclick="calculate()"><!--クリックで関数を呼ぶ-->
				<input type="submit" value="レジへ進む" class="btn btn-primary">
			</div>

			<!--javasctiptに変数を送る　アイテムの数-->
			<%= hidden_field_tag "count" ,@item_count, class: "item_count" %>

		</form>

		</div>
	</div>
</div>


<style type="text/css">
		<!--
		button a{color: #fff; font-size: 16px;}
		#cart-item-destroy {margin-top: 8px;}
		-->
</style>

<!-- 下部スライダー -->
<%= render 'top/browsing', commites: @commites, product: @product %>

