<div class="container">
    <div class="row">
        <%= render partial: "top/sidebar" %>
        <div class="col-xs-10">

<!-- 上部リンク -->
      <div clas="link-top", style="margin: 20px; text-decoration: underline;">
        <span class="nav-list-item">
          <%= link_to "前のページに戻る", :back %>
        </span>
        <span class="nav-list-item", style="float: right; text-decoration: underline;">
          <%= link_to "TOP画面に戻る", admins_top_path(current_admin) %>
        </span>
      </div>

           <div class="", style="width:80%; margin: 0 0 0 30px;">
            <h1 class="midashi">商品の編集</h1>
            <hr>

<!-- Nested Form Gem を使用 -->
<%= nested_form_for(@product, url: admins_product_path) do |f| %>
            <table class = "table">
                <tbody>

                    <tr>
                        <td width="500", height="60">
                            <label>タイトル:</label><br>
                            <%= f.text_field :cd_title %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>アーティスト:</label><br>
                            <%= f.text_field :artist %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>ジャケット画像</label><br>
                            <%= f.attachment_field :picture %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>レーベル</label><br>
                            <%= f.text_field :label %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>ジャンル</label><br>
                            <%= f.select :genre, [
                                ["J-POP", "J-POP"],
                                ["ロック＆ポップス", "ロック＆ポップス"],
                                ["R＆B/ソウル", "R＆B/ソウル"],
                                ["ヒップホップ", "ヒップホップ"],
                                ["クラブ/ダンス", "クラブ/ダンス"],
                                ["ワールド", "ワールド"],
                                ["洋楽", "洋楽"],
                                ["アニメ", "アニメ"]] %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>価格</label><br>
                            <%= f.number_field :price %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>在庫数</label><br>
                            <%= f.number_field :stock %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>発売日</label><br>
                            <%= f.date_field :start_date %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= f.fields_for :discs do |d| %>
                                <label>ディスク名</label><br>
                                    <%= d.text_field :disc_name %>
                                    <%= d.link_to_remove "ディスクを削除" %><br>
                                    <label>曲名</label><br>
                                    <%= d.fields_for :tunes do |t| %>
                                        <%= t.text_field :song_title %>
                                        <%= t.time_field :song_time %>
                                        <%= t.link_to_remove "曲を削除" %>
                                    <% end %>
                                    <%= d.link_to_add "曲を追加", :tunes %>
                            <% end %>
                            <%= f.link_to_add "ディスクを追加", :discs %>
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <label>音楽データ</label><br>
                            <%= f.text_field :sound_source, :size=>"90" %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <div class="actions button1">
                            <%= f.submit "編集", class:"btn btn-md btn-block btn-danger" %>
                          </div>
                        </td>
                    </tr>

                </tbody>
            </table>
<!-- </form> -->
<% end %>
</div>




        </div>
    </div>
</div>
