<div class="container">
	<div class="row">
		<%= render partial: "top/sidebar" %>
		<div class="col-xs-10">

<!-- 上部リンク -->
      <div clas="link-top", style="margin: 20px; text-decoration: underline;">
        <span class="nav-list-item">
          <%= link_to "前のページに戻る", :back %>
        </span>
        <span class="nav-list-item", style="float: right; text-decoration: underline;">
          <%= link_to "管理TOP画面に戻る", admins_top_path(current_admin) %>
        </span>
      </div>


			<h1 class="midashi">商品一覧</h1>
			<hr>

			<!--並び替え機能-->
			<div class="pull-right sort", style="margin: 0 0 0 60px; background-color: rgba( 0, 0, 0, 0.1);">
				Search Sort <span class="glyphicon glyphicon-search"></span>:
                <button type="button" class="btn btn-link">
                    <%= sort_link(@search, :cd_title, "CDタイトル") %>
                </button>
                <button type="button" class="btn btn-link">
                    <%= sort_link(@search, :price, "価格") %>
                </button>
				<button type="button" class="btn btn-link">
                    <%= sort_link(@search, :start_date, "発売日") %>
                </button>
                <button type="button" class="btn btn-link">
                    <%= sort_link(@search, :product_flg, "販売中（販売中止）") %>
                </button>
			</div>


			<table class = "table table-hover table-bordered">
	  	<thead align="center">
	  		<tr class="info">
	  			<td colspan="2">商品情報</td>
	  			<td>価格</td>
	  			<td>詳細リンク</td>
	  		</tr>
	  	</thead>
				<tbody>
					<% @products.each do |product| %>

					<tr>
						<td width="100", height="100">
							<%= attachment_image_tag product, :picture, width: "100", height: "100", format: "jpeg", fallback: "img/no_image.jpg" %>
						</td>
						<td>
						<label>CDタイトル: </label><%= link_to product.cd_title, admins_product_path(product) %><br>

						<label>アーティスト: </label><%= product.artist %>
						</td>
					    <td>￥<%= number_with_delimiter(product.price) %><br>
						<%= product.product_flg %>
					    </td>
					    <td>
						<%= link_to '編集', edit_admins_product_path(product.id) %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>


<style type="text/css">
		<!--
		button a{color: black; font-size: 15px;}
		.sort{display: inline-block; margin:20px 0 10px 0;}
		-->
</style>