<div class="container">
    <div class="row">
        <%= render partial: "top/sidebar" %>
        <div class="col-xs-10">


<!-- 上部リンク -->
      <div clas="link-top", style="margin: 20px; text-decoration: underline;">
        <span class="nav-list-item">
          <%= link_to "前のページに戻る", :back %>
        </span>
        <span class="nav-list-item", style="float: right; text-decoration: underline;">
          <%= link_to "管理TOP画面に戻る", admins_top_path(current_admin) %>
        </span>
      </div>


            <h2 class="midashi form-header-title">商品新規登録</h2>
            <hr>

<!-- <form action="./" method="post"> -->
<%= form_for(@product, url: admins_products_path) do |f| %>
<!--tableのなかだと、各一つ分しか反応しないからダメ-->
            <table class = "table">
                <tbody>

                    <tr>
                        <td width="500", height="60">
                            <label>タイトル:</label><br>
                            <input type="text" name="cd_title" size="60" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>アーティスト:</label><br>
                            <input type="text" name="artist" size="60" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>ジャケット画像</label><br>
                            <!-- <input type="file" name="picture" size="60" required> -->
                            <%= f.attachment_field :picture %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>レーベル</label><br>
                            <input type="text" name="label" size="60" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>ジャンル</label><br>
                            <select name="genre" required>
                                <option value="J-POP">J-POP</option>
                                <option value="ロック＆ポップス">ロック＆ポップス</option>
                                <option value="R＆B/ソウル">R＆B/ソウル</option>
                                <option value="ヒップホップ">ヒップホップ</option>
                                <option value="クラブ/ダンス">クラブ/ダンス</option>
                                <option value="ワールド">ワールド</option>
                                <option value="洋楽">洋楽</option>
                                <option value="アニメ">アニメ</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>価格</label><br>
                            <input type="number" name="price" size="60" min=0 required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>在庫数</label><br>
                            <input type="number" name="stock" min=0 placeholder="在庫数" required/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>発売日</label><br>
                            <input type="date" name="start_date" required />
                        </td>
                    </tr>

                    <tr>
                        <!--外側-->
                        <td class="repeater">
                            <div data-repeater-list="disc">
                                <div data-repeater-item>
                                    <label>ディスク名</label><br>
                                    <input type="text" name="disc_name" placeholder="例）ディスク名" required />
                                    <input data-repeater-delete type="button" value="ディスクを削除" />

                                    <!--内側ー-->
                                    <div class="inner-repeater">
                                        <label>曲名</label><br>
                                        <div data-repeater-list="song">
                                            <div data-repeater-item>
                                                <input type="text" name="song_title" placeholder="例）曲名" required/>
                                                <input type="time" name="song_time" required/>
                                                <input data-repeater-delete type="button" value="曲を削除" />
                                            </div>
                                        </div>
                                        <input data-repeater-create type="button" value="曲を追加" />
                                        <hr>
                                    </div>

                                </div>
                            </div>
                            <input data-repeater-create type="button" value="ディスクを追加" />
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <label>音楽データ</label><br>
                            <input type="text" name="sound_source" placeholder="音源" size="90">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" name="commit" value="登録する" class="btn btn-primary">
                        </td>
                    </tr>

                </tbody>
            </table>
<!-- </form> -->
<% end %>





        </div>
    </div>
</div>
