<div class="container">
	<div class="row content">
		<%= render partial: "top/sidebar" %>
		<div class="col-xs-10">

       <!-- 上部リンク -->
        <div clas="link-top", style="margin: 20px; text-decoration: underline;">
          <span class="nav-list-item">
            <%= link_to "前のページに戻る", :back %>
          </span>
          <span class="nav-list-item", style="float: right; text-decoration: underline;">
            <%= link_to "管理TOP画面に戻る", admins_top_path(current_admin) %>
          </span>
        </div>


            <div class="", style="width:80%; margin: 0 0 0 50px;">
			<h1 class="midashi">商品詳細</h1>
			<hr>

			<div class="clearfix">
				<div class="col-xs-5">
					<%= attachment_image_tag @product, :picture, width: "350", height: "350", format: "jpeg", fallback: "img/no_image.jpg" %>
				</div>

				<div class="col-xs-7">
					<h2><%= @product.cd_title %></h2>
					<h4><b><%= @product.artist %></b></h4>
					<hr>
					<h3>価格（税込）：￥<%= number_with_delimiter(@product.price) %></h3>
                    <h3>在庫数　：<%= @product.stock %></h3>
                    <% if @product.product_flg == "false" %>
                    <h3 style="color: red;">販売停止中</h3>
                    <% end %>
				</div>
			</div>

			<div class="col-xs-offset-1", style="margin-top:40px; margin-bottom:120px;">

				<div>
					<h5>商品仕様</h5>
					<label>ジャンル：</label><%= @product.genre %><br>
					<label>レーベル：</label><%= @product.label %><br>
					<label>発売日：</label><%= @product.start_date %>
				</div>

				<div style="margin-top:80px;">
					<% @discs.each do |disc| %>
						<h6 style="margin-top: 30px;"><b>[ <%= disc.disc_name %> ]</b></h6>
						<% tunes = Tune.order(:order).where(disc_id: disc.id).pluck(:id) %>
						<table class="table-hover table-bordered">
							<thead>
								<tr>
									<th width="300px;">タイトル</th>
									<th>再生時間</th>
								</tr>
							</thead>
							<tbody>
								<% tunes.each do |music| %>
									<% tune = Tune.find(music) %>
									<tr>
										<td><%= tune.order %>.<%= tune.song_title %></td>
										<td><%= tune.song_time.strftime('%H:%M') %></td>
									</tr>
								<% end %>
							</tbody>
						</table>
					<% end %>
					<!-- tuneについてはpluckとfindで探す方法でしかできなかった。原因は不明 -->
				</div>
			</div>

			<!--音源-->
			<iframe src="<%= @product.sound_source %>" width="100%" height="354" frameborder="0" allowtransparency="true" marginHeight="50"></iframe>



			<!-- フラグの変更（削除処理） -->
	          <%= form_for(@product, url: admins_product_path) do |f| %>
	            <div class="", style="margin: 0 0 200px 60px;">
	              <%= link_to edit_admins_product_path(@product.id) do %>
		            <button type="button" class="btn btn-danger", style="display: inline-block; width: 300px; margin: 10px;">
                      編集ページへ
                    </button>
                  <% end %>
                  <% if @product.product_flg == "true" %>
                    <input type="hidden" name="product[product_flg]" value="false">
                    <button type="submit" class="btn btn-danger", style="display: inline-block; width: 300px; margin: 10px;">販売中止
                    </button>
                  <% else %>
                    <input type="hidden" name="product[product_flg]" value="true">
                    <button type="submit" class="btn btn-info", style="display: inline-block; width: 300px; margin: 10px;">販売再開
                    </button>
                  <% end %>
                </div>
              <% end %>

            </div>
		</div>
	</div>
</div>