<div class="container">
	<div class="row content">
		<%= render partial: "top/sidebar" %>
		<div class="col-xs-10">

<!-- 上部リンク -->
      <div clas="link-top", style="margin: 20px; text-decoration: underline;">
        <span class="nav-list-item">
          <%= link_to "前のページに戻る", :back %>
        </span>
        <span class="nav-list-item", style="float: right; text-decoration: underline;">
          <%= link_to "TOP画面に戻る", root_path %>
        </span>
      </div>


			<h1 class="midashi">商品一覧</h1>
			<hr>

			<!--並び替え機能-->
			<div class="pull-right sort", style="margin: 0 0 0 60px; background-color: rgba( 0, 0, 0, 0.1);">
				Search Sort <span class="glyphicon glyphicon-search"></span>:
                <button type="button" class="btn btn-link">
                    <%= sort_link(@search, :cd_title, "CDタイトル") %>
                </button>
                <button type="button" class="btn btn-link">
                    <%= sort_link(@search, :id, "追加日で並び替え") %>
                </button>
                <button type="button" class="btn btn-link">
                    <%= sort_link(@search, :price, "価格で並び替え") %>
                </button>
				<!--<button type="button" class="btn btn-link">
                    <%= sort_link(@search, :start_date, "発売日で並び替え") %>
                </button>-->
			</div>


			<table class = "table table-hover">
				<tbody>
					<% @products.each do |product| %>
					<tr>
						<td width="150", height="100">
							<%= attachment_image_tag product, :picture, width: "100", height: "100", format: "jpeg", fallback: "img/no_image.jpg" %></td>

							<td>
							<label>CDタイトル: </label><%= product.cd_title %><br>

							<label>アーティスト: </label><%= product.artist %>
						</td>

						<td>￥<%= number_with_delimiter(product.price) %></td>

						<td>
                        <% if user_signed_in? %>
                            <%= link_to product_browsings_path(product), method: :post do %>
                            <button type="button" class="btn btn-link", style="display: block;">
                                <span class="glyphicon glyphicon-play-circle" aria-hidden="true" style="font-size: 30px; color: orange;"></span>
                            詳細ページへ
                            </button>
                            <% end %>
                        <% else %>
                            <%= link_to product_path(product) do %>
                            <button type="button" class="btn btn-link", style="display: block;">
                                <span class="glyphicon glyphicon-play-circle" aria-hidden="true" style="font-size: 30px; color: orange;"></span>
                            詳細ページへ
                            </button>
                            <% end %>
                        <% end %>

                        <% if user_signed_in? %>
                            <% if product.favorited_by?(current_user) %>
                                <% favorite = Favorite.find_by(user_id: current_user, product_id: product.id) %>

                                <%= link_to favorite_path(id: favorite.id), method: :delete do %>
                                    <button type="button" class="btn btn-link", style="display: block;">
                                        <span class="glyphicon glyphicon-star" aria-hidden="true" style="font-size: 30px; color: gold;"></span>
                                        お気に入り解除
                                    </button>
                                <% end %>
                            <% else %>
                                <%= link_to add_product_path(product), method: :post do %>
                                    <button type="button" class="btn btn-link", style="display: block;">
                                        <span class="glyphicon glyphicon-star" aria-hidden="true" style="font-size: 30px; color: #444444;"></span>
                                        お気に入り追加
                                    </button>
                                <% end %>
                            <% end %>
                        <% end %>



						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>


<style type="text/css">
		<!--
		button a{color: black; font-size: 15px;}
		.sort{display: inline-block; margin: 20px 10px 0 0;}
		-->
</style>


<!-- 下部スライダー -->
<%= render 'top/browsing', commites: @commites, product: @product %>
