<div class="container">
	<div class="row content">
		<%= render partial: "top/sidebar" %>
		<div class="col-xs-10">


        <div clas="link-top", style="margin: 20px; text-decoration: underline;">
          <span class="nav-list-item">
            <%= link_to "前のページに戻る", :back %>
          </span>
          <span class="nav-list-item", style="float: right; text-decoration: underline;">
            <%= link_to "TOP画面に戻る", root_path %>
          </span>
        </div>

            <div class="", style="width:90%; margin: 0 0 0 50px;">
			<h1 class="midashi">商品詳細</h1>
			<hr>
            <div style="background-color: rgba( 0, 0, 0, 0.1);">
			<div class="clearfix">
				<div class="col-xs-5">
					<%= attachment_image_tag @product, :picture, width: "350", height: "350", format: "jpeg", fallback: "img/no_image.jpg" %>
				</div>

				<div class="col-xs-7">
					<h2><%= @product.cd_title %></h2>
					<h4><b><%= @product.artist %></b></h4>
					<hr>
					<h3>価格（税込）：￥<%= number_with_delimiter(@product.price) %></h3>


                    <!-- カート、お気にボタン　-->
                    <% if user_signed_in? %>


                    	<% if @product.stock == 0 %>
                    		<%= image_tag "img/soldout.jpg", style: "height: 80px; width: 200px; border: solid 5px black;" %>
                    	<% else %>
	                        <%= link_to product_cart_items_path(@product.id), method: :post do %>
	                            <button type="button" class="btn btn-info", style="display: inline-block; height: 80px; width: 200px; background-color: #440000;">
	                                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true" style="font-size: 30px; color: gold;"></span><br>
	                                カートに入れる
	                            </button>
	                        <% end %>
	                    <% end %>

                        <% if @product.favorited_by?(current_user) %>
                        <% favorite = Favorite.find_by(user_id: current_user, product_id: @product.id) %>
                            <%= link_to favorite_path(id: favorite.id), method: :delete do %>
                                <button type="button" class="btn btn-danger", style="display: inline-block; height: 80px; width: 200px;">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true" style="font-size: 30px; color: gold;"></span><br>
                                    お気に入り解除
                                </button>
                            <% end %>
                        <% else %>
                            <%= link_to add_product_path(@product), method: :post do %>
                                <button type="button" class="btn btn-info", style="display: inline-block; height: 80px; width: 200px; background-color: #444444;">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true" style="font-size: 30px;"></span><br>
                                    お気に入り追加
                                </button>
                            <% end %>
                        <% end %>
                    <% end %>



				</div>
			</div>

			<div class="col-xs-offset-1", style="margin-top:40px; margin-bottom:120px; background-color:">

				<div>
					<h5>商品仕様</h5>
					<label>ジャンル：</label><%= @product.genre %><br>
					<label>レーベル：</label><%= @product.label %><br>
					<label>発売日：</label><%= @product.start_date %>
				</div>

				<div style="margin-top:80px;">
					<% @discs.each do |disc| %>
						<h6 style="margin-top: 30px;"><b>[ <%= disc.disc_name %> ]</b></h6>
						<% tunes = Tune.order(:order).where(disc_id: disc.id).pluck(:id) %>
						<table class="table-hover table-bordered">
							<thead>
								<tr>
									<th max-width="300px;">タイトル</th>
									<th>再生時間</th>
								</tr>
							</thead>
							<tbody>
								<% tunes.each do |music| %>
									<% tune = Tune.find(music) %>
									<tr>
										<td><%= tune.order %>.<%= tune.song_title %></td>
										<td><%= tune.song_time.strftime('%H:%M') %></td>
									</tr>
								<% end %>
							</tbody>
						</table>
					<% end %>
					<!-- tuneについてはpluckとfindで探す方法でしかできなかった。原因は不明 -->
				</div>

			</div>

			<!--音源-->
			<iframe src="<%= @product.sound_source %>" width="100%" height="354" frameborder="0" allowtransparency="true" marginHeight="50"></iframe>
</div>
            </div>
		</div>
	</div>
</div>

<!-- 下部スライダー -->
<%= render 'top/browsing', commites: @commites, product: @product %>
