<!DOCTYPE html>
<html>
  <head>
    <title>Volcano</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Unicase|Jacques+Francois+Shadow" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Italianno|Tangerine" rel="stylesheet">
    <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>

<!-- jquery読み込み様だが、今回は必要なし 画像エラーもrequire turbolinksを削除することで機能する
    <link rel="stylesheet" type="text/css" href="slick.css" media="screen">
　　<link rel="stylesheet" type="text/css" href="slick-theme.css" media="screen">

　　<script src="slick.min.js"></script>
-->


</head>


  <body>
    <header class="navbar-fixed-top">
    <div class="header-top">
      <div class="container headline" style="font-family: 'Cormorant Unicase', serif;">Volcano
      </div>
    </div>
    <div class="header_bottom">
      <nav class="navbar navbar-inverse">
        <div class="container container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
              <div class="guest-name">
              <% if user_signed_in? %>
                <%= User.find(current_user.id).name_sei %>  様　　　
              <% elsif admin_signed_in? %>
                管理者　様　　　
              <% else %>
                ようこそゲスト　様　　　
              <% end %>
            </div>
          </div>

          <!--検索窓-->
          <%= search_form_for @search do |f| %>
          <span class="input-group">
            <%= f.text_field :cd_title_or_artist_or_genre_or_label_cont, class: "form-control", :size=>"40",style: "margin: 8px 0;", placeholder: "検索（CDタイトル、アーティスト名)" %>
            <span class="input-group-btn">
              <button type="submit" name="commit" value="検索" class="btn btn-default" data-disable-with="検索中">
                <i class="glyphicon glyphicon-search" ></i>
              </button>
            </span>
          <span>
          <% end %>

          <!--ナビゲーション-->
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
              <li><a href="/users/mypage" class="glyphicon glyphicon glyphicon-star"> マイページ</a></li>
              <li><a href="/carts/<%= current_user.id %>" class="glyphicon glyphicon-shopping-cart"> カート</a></li>
              <li><a href="/users/sign_out" class="glyphicon glyphicon-log-out" data-method="delete"> ログアウト</a></li>
              <% elsif admin_signed_in? %>
              <li><a href="/admins/top/<%= current_admin.id %>" class="glyphicon glyphicon-transfer"> 管理画面</a></li>
              <li><a href="/admins/sign_out" class="glyphicon glyphicon-log-out" data-method="delete"> ログアウト</a></li>
              <% else %>
              <li><a href="/users/sign_up" class="glyphicon glyphicon-user"> 新規会員登録</a></li>
              <li><a href="/users/sign_in" class="glyphicon glyphicon-log-in"> ログイン</a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    </header>
    <div class="container">
    <div class="hed"></div>

    <%= yield %>
    </div>

    <footer>
      <div class="container">

　　　 <% if user_signed_in? %>
        <!-- Footer-Left -->
        <div class="col-xs-4 text-left" style="font-size: 20px;">
          CDジャンル
          <hr>
          <div style="font-size: 18px;">
            <p><%= link_to " ▶ J-POP", products_path({"utf8"=>"✓", "q"=>{"genre_cont"=>"J-POP", "commit"=>"Search" }}) %></p>
            <p><%= link_to " ▶ ロック＆ポップス", products_path({"utf8"=>"✓", "q"=>{"genre_cont"=>"ロック＆ポップス", "commit"=>"Search" }}) %></p>
            <p><%= link_to " ▶ R＆B/ソウル", products_path({"utf8"=>"✓", "q"=>{"genre_cont"=>"R＆B/ソウル", "commit"=>"Search" }}) %></p>
            <p><%= link_to " ▶ ヒップホップ", products_path({"utf8"=>"✓", "q"=>{"genre_cont"=>"ヒップホップ", "commit"=>"Search" }}) %></p>
            <p><%= link_to " ▶ ジャズ/ブルース", products_path({"utf8"=>"✓", "q"=>{"genre_cont"=>"ジャズ/ブルース", "commit"=>"Search" }}) %></p>
            <p><%= link_to " ▶ クラブ/ダンス", products_path({"utf8"=>"✓", "q"=>{"genre_cont"=>"クラブ/ダンス", "commit"=>"Search" }}) %></p>
            <p><%= link_to " ▶ クラシック", products_path({"utf8"=>"✓", "q"=>{"genre_cont"=>"クラシック", "commit"=>"Search" }}) %></p>
            <p><%= link_to " ▶ サウンドトラック", products_path({"utf8"=>"✓", "q"=>{"genre_cont"=>"サウンドトラック", "commit"=>"Search" }}) %></p>
            <p><%= link_to " ▶ アニメーション", products_path({"utf8"=>"✓", "q"=>{"genre_cont"=>"アニメーション", "commit"=>"Search" }}) %></p>
          </div>
        </div>
        <!-- Footer-Center -->
        <div class="col-xs-4 text-left" style="font-size: 20px;">
          会員機能
          <hr>
          <div style="font-size: 18px;">
            <p><%= link_to "▶ マイページ", mypage_user_path %></p>
            <p><%= link_to "▶ 購入履歴", user_purchasers_path(current_user.id) %></p>
            <p><%= link_to "▶ お気に入り", favorites_path %></p>
            <p><%= link_to "▶ アカウント情報", user_path(current_user.id) %></p>
            <p><%= link_to "▶ 退会手続き", unsubscribe_user_path(current_user.id) %></p>
          </div>
        </div>
        <!-- Footer-Right -->
        <div class="col-xs-3 text-left" style="font-size: 20px;">
          その他
          <hr>
          <div style="font-size: 18px;">
            <p><%= link_to " ▶︎ お問い合わせ",  contact_top_path %></p>
            <p><%= link_to " ▶︎ Volcanoオンラインについて", about_top_path %></p>
            <p><%= link_to " ▶︎ CDジャンル区分について", genre_top_path %></p>
            <p><%= link_to " ▶︎ 会社概要", company_top_path %></p>
          </div>
        </div>

      <% elsif admin_signed_in? %>
        <!-- Footer-Left -->
        <div class="col-xs-4 text-left" style="font-size: 20px;">
          CDジャンル
          <hr>
          <div style="font-size: 18px;">
            <p><%= link_to " ▶ J-POP", products_path({"utf8"=>"✓", "q"=>{"genre_cont"=>"J-POP", "commit"=>"Search" }}) %></p>
            <p><%= link_to " ▶ ロック＆ポップス", products_path({"utf8"=>"✓", "q"=>{"genre_cont"=>"ロック＆ポップス", "commit"=>"Search" }}) %></p>
            <p><%= link_to " ▶ R＆B/ソウル", products_path({"utf8"=>"✓", "q"=>{"genre_cont"=>"R＆B/ソウル", "commit"=>"Search" }}) %></p>
            <p><%= link_to " ▶ ヒップホップ", products_path({"utf8"=>"✓", "q"=>{"genre_cont"=>"ヒップホップ", "commit"=>"Search" }}) %></p>
            <p><%= link_to " ▶ ジャズ/ブルース", products_path({"utf8"=>"✓", "q"=>{"genre_cont"=>"ジャズ/ブルース", "commit"=>"Search" }}) %></p>
            <p><%= link_to " ▶ クラブ/ダンス", products_path({"utf8"=>"✓", "q"=>{"genre_cont"=>"クラブ/ダンス", "commit"=>"Search" }}) %></p>
            <p><%= link_to " ▶ クラシック", products_path({"utf8"=>"✓", "q"=>{"genre_cont"=>"クラシック", "commit"=>"Search" }}) %></p>
            <p><%= link_to " ▶ サウンドトラック", products_path({"utf8"=>"✓", "q"=>{"genre_cont"=>"サウンドトラック", "commit"=>"Search" }}) %></p>
            <p><%= link_to " ▶ アニメーション", products_path({"utf8"=>"✓", "q"=>{"genre_cont"=>"アニメーション", "commit"=>"Search" }}) %></p>
          </div>
        </div>
        <!-- Footer-Center -->
        <div class="col-xs-4 text-left" style="font-size: 20px;">
          管理者機能一覧
          <hr>
          <div style="font-size: 18px;">
            <div class="subteki", style="color: black;">・商品管理</div>
              <p><%= link_to " ▶︎ 新規商品登録", new_admins_product_path %></p>
              <p><%= link_to " ▶︎ 商品の編集/一覧", admins_products_path %></p>
            <div class="subteki", style="color: black;">・受注管理</div>
              <p><%= link_to " ▶︎ 注文履歴一覧", admins_purchasers_path %></p>
            <div class="subteki", style="color: black;">・会員情報管理</div>
              <p><%= link_to " ▶︎ 会員情報の編集/一覧", admins_users_path %></p>
            <div class="subteki", style="color: black;">・その他</div>
              <p><%= link_to " ▶︎ 管理Topページへ", admins_top_path(current_admin) %></p>
              <p><%= link_to " ▶︎ 会員Topページへ", root_path %></p>
          </div>
        </div>
        <!-- Footer-Right -->
        <div class="col-xs-3 text-left" style="font-size: 20px;">
          その他
          <hr>
          <div style="font-size: 18px;">
            <p><%= link_to " ▶︎ お問い合わせ",  contact_top_path %></p>
            <p><%= link_to " ▶︎ Volcanoオンラインについて", about_top_path %></p>
            <p><%= link_to " ▶︎ CDジャンル区分について", genre_top_path %></p>
            <p><%= link_to " ▶︎ 会社概要", company_top_path %></p>
          </div>
        </div>

      <% else %>
        <!-- Footer-Left -->
        <div class="col-xs-6 text-left" style="font-size: 20px;">
          CDジャンル
          <hr>
          <div style="font-size: 18px;">
            <p><%= link_to " ▶ J-POP", products_path({"utf8"=>"✓", "q"=>{"genre_cont"=>"J-POP", "commit"=>"Search" }}) %></p>
            <p><%= link_to " ▶ ロック＆ポップス", products_path({"utf8"=>"✓", "q"=>{"genre_cont"=>"ロック＆ポップス", "commit"=>"Search" }}) %></p>
            <p><%= link_to " ▶ R＆B/ソウル", products_path({"utf8"=>"✓", "q"=>{"genre_cont"=>"R＆B/ソウル", "commit"=>"Search" }}) %></p>
            <p><%= link_to " ▶ ヒップホップ", products_path({"utf8"=>"✓", "q"=>{"genre_cont"=>"ヒップホップ", "commit"=>"Search" }}) %></p>
            <p><%= link_to " ▶ ジャズ/ブルース", products_path({"utf8"=>"✓", "q"=>{"genre_cont"=>"ジャズ/ブルース", "commit"=>"Search" }}) %></p>
            <p><%= link_to " ▶ クラブ/ダンス", products_path({"utf8"=>"✓", "q"=>{"genre_cont"=>"クラブ/ダンス", "commit"=>"Search" }}) %></p>
            <p><%= link_to " ▶ クラシック", products_path({"utf8"=>"✓", "q"=>{"genre_cont"=>"クラシック", "commit"=>"Search" }}) %></p>
            <p><%= link_to " ▶ サウンドトラック", products_path({"utf8"=>"✓", "q"=>{"genre_cont"=>"サウンドトラック", "commit"=>"Search" }}) %></p>
            <p><%= link_to " ▶ アニメーション", products_path({"utf8"=>"✓", "q"=>{"genre_cont"=>"アニメーション", "commit"=>"Search" }}) %></p>
          </div>
        </div>
        <!-- Footer-Right -->
        <div class="col-xs-5 text-left" style="font-size: 20px;">
          その他
          <hr>
          <div style="font-size: 18px;">
            <p><%= link_to " ▶︎ お問い合わせ",  contact_top_path %></p>
            <p><%= link_to " ▶︎ Volcanoオンラインについて", about_top_path %></p>
            <p><%= link_to " ▶︎ CDジャンル区分について", genre_top_path %></p>
            <p><%= link_to " ▶︎ 会社概要", company_top_path %></p>
          </div>
        </div>
      <% end %>

      </div>
    </footer>
  </body>
</html>



